<ion-view title="CAB OWNER" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <a ui-sref="viewBooking" id="cABOWNER-button9" class=" button button-positive  button-block ">View Booking</a>
        <div class="">
            <img src="img/zCx7DkgVT9uopGIZAsck_is.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <a ui-sref="profile" id="cABOWNER-button10" class=" button button-positive  button-block ">Create your profile</a>
    </ion-content>
</ion-view>