<ion-view title="Car Bookie" id="page5" class=" ">
    <ion-content padding="true" style="background: url(img/JxqqSYN1TaWnMFqCTekb_201204-w-american-main-streets-staunton.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form id="carBookie-form21" class="list ">
            <label class="item item-select " id="carBookie-select1">
                <span class="input-label">Select source</span>
                <select>
                    <option></option>
                    <option></option>
                </select>
            </label>
            <label class="item item-select " id="carBookie-select2">
                <span class="input-label">Select destination</span>
                <select></select>
            </label>
            <label class="item item-input " id="carBookie-input32">
                <span class="input-label">No. of seats required</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="cARPOOL" id="carBookie-button8" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>