<ion-view title="Profile" id="page11" class=" ">
    <ion-content padding="true" style="background: url(img/qq1hLyg5Twi8Pp1kjBnb_201204-w-american-main-streets-staunton.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form id="profile-form23" class="list ">
            <label class="item item-input " id="profile-input36">
                <span class="input-label">Source</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="profile-input37">
                <span class="input-label">Destination</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="profile-input38">
                <span class="input-label">Car name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="profile-input39">
                <span class="input-label">Car number</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="profile-input40">
                <span class="input-label">Owner ID</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button id="profile-button11" class=" button button-positive  button-block ">Done</button>
    </ion-content>
</ion-view>