<ion-view title="SIGN UP" id="page4" class=" ">
    <ion-content padding="true" style="background: url(img/psiWrwqDSSu1NZj6UFVo_201204-w-american-main-streets-staunton.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="width: 300px; height: 7px;"></div>
        <form id="sIGNUP-form19" class="list ">
            <label class="item item-input " id="sIGNUP-input24">
                <span class="input-label">Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="sIGNUP-input25">
                <span class="input-label">Email-Id</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="sIGNUP-input26">
                <span class="input-label">Password</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="sIGNUP-input27">
                <span class="input-label">Mobile</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="sIGNUP-input28">
                <span class="input-label">Address</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 17px;"></div>
        <button id="sIGNUP-button6" class=" button button-positive  button-block ">Sign up</button>
    </ion-content>
</ion-view>