<ion-view title="User Login" id="page3" class=" ">
  
    <ion-content padding="true" style="background: url(img/fOOO5p1mT4KCVUpHGwcZ_201204-w-american-main-streets-staunton.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form id="userLogin-form18" class="list ">
            <div class="spacer" style="width: 300px; height: 13px;"></div>
            <label class="item item-input " id="userLogin-input22">
                <span class="input-label">username</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="userLogin-input23">
                <span class="input-label">password</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 18px;"></div>
        </form>
        <a ui-sref="cABOWNER" id="userLogin-button12" class=" button button-positive  button-block " ng-clic>Car Owner</a>
        <a ui-sref="carBookie" id="userLogin-button13" class=" button button-positive  button-block ">Bookie</a>
    </ion-content>
</ion-view>
